/* ==========================================================================
   defi / component
   TOUT ton code CSS ici
   ========================================================================== */

// Variables disponibles
:root {
   --color-white: #fff;
   --color-black: #000;
   --color-primary: #FFB800;

   --font-primary: 'Outfit', sans-serif;
   --font-secondary: 'Permanent Marker', cursive;
   }

// Votre code