/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-size-h1: 4.25rem;
    --font-size-h2: 2.75rem;
    --font-size-h3: 1.5rem;
}
